@font-face {
  font-family: "aduma-light";
  src: url("fonts/AdumaLight.ttf");
}

@font-face {
  font-family: "aduma-regular";
  src: url("fonts/AdumaRegular.ttf");
}

@font-face {
  font-family: "aduma-medium";
  src: url("fonts/AdumaMedium.ttf");
}

@font-face {
  font-family: "aduma-heavy";
  src: url("fonts/AdumaHeavy.ttf");
}

@font-face {
  font-family: "aduma-bold";
  src: url("fonts/AdumaBold.ttf");
}

html,
body {
  overflow: hidden;
  background-color: #424242;
  direction: rtl;
  font-family: "aduma-regular";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.logo {
  margin: 1vw;
  margin-top: 2.5vh;
  width: 20vw;
}
.logos {
  text-align: center;
}

.start-page, .ending-page-content {
  width: 100vw;
  height: 100vh;
  background-image: url("media/homepageBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#school-logo {
  width: 11vw;
  top: 1%;
  margin: 0px;
  position: absolute;
  left: 2%;
}

.text {
  text-align: right;
  font-size: 1.5rem;
  color: white;
  margin: 0vh;
}

.top-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  padding: 2vw;
  text-align: center;
}
#start-title {
  text-align: center;
  padding-top: 3%;
  font-size: clamp(5rem, 6vw, 7rem);
  margin: 0;
}
#start-sub-title {
  font-size: clamp(2rem, 3vw, 4rem);
  margin: 0;
}

#start-sentance {
  margin: 0px;
  text-align: center;
  font-size: 2rem;
  line-height: 1.6rem;
  margin-top: 20%;
}

#start-notice {
  color: #333333;
  background-color: white;
  padding: 1.5vh 4vw;
  margin-bottom: 0px;
  border-radius: 20rem;
}

.start-btn {
  background-image: url("media/startBtn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 2vh 15vw;
  font-size: clamp(2rem, 3vw, 4rem);
  color: white;
  text-decoration: none;
}

.important-page {
  width: 100vw;
  height: 100vh;
  background-image: url("media/secondBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.school-Logo {
  left: 3vw;
  top: 3vh;
  position: absolute;
  width: 25vw;
}

#popup-text {
  color: white;
  z-index: 1;
  font-size: clamp(2rem, 3vw, 4rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff0000;
  padding: 10% 20%;
  text-align: center;
  width: 50%;
}

.swimming-popup-text, .stability-text-popup {
  color: white;
  text-align: center;
  font-family: "aduma-medium";
  font-size: clamp(1.4rem, 2.5vh, 3rem);
  padding-bottom: 3vh;
}

#important-text {
  text-align: center;
}

.important-continue {
  font-size: clamp(2rem, 3vw, 4rem);
  border-radius: 25rem;
  border: none;
  font-family: "aduma-bold";
  color: red;
  background-color: white;
}

.important-continue:disabled {
  background-color: rgba(255, 255, 255, 0.5);
}

.notes-content {
  flex-direction: column;
  display: flex;
  top: 10%;
  position: relative;
  align-items: center;
}

.all-notes {
  list-style: none;
  color: white;
  font-size: clamp(1.3rem, 2vw, 3rem);
  width: 70%;
  padding: 0px;
}

.regular-title {
  display: flex;
  right: 0px;
  justify-content: center;
  font-size: clamp(4rem, 5vw, 6rem);
  margin: 0px;
  color: white;
}

.all-notes li {
  margin-bottom: 0.75em;
  position: relative;
  padding-right: 1em; /* space for image bullet */
}

.all-notes li::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0.6em;
  transform: translateY(-50%); /* center vertically */
  width: 16px; /* image size */
  height: 16px;
  background-image: url("media/bullet.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.move-button {
  z-index: 100;
  width: 15%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  height: 15%;
  border-radius: 50%;
}

.link-text{
  font-family: "aduma-bold";
  color: #0071bc;
  text-decoration: underline;
}

#backward-btn {
  margin-right: 70%;
}

.buttons-move, .programs-buttons-move{
  width: 90%;
  display: flex;
  text-align: center;
  position: absolute;
  bottom: 5%;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.programs-buttons-move{
  align-items: center;
}

.page-content,
.programs-page-content,
.swimming-page-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.swimming-page-all {
  height: 100vh;
  background-image: url("media/swimmingBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.all-content-programs {
  height: 100vh;
  width: 100vw;
  background-image: url("media/regularBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.things-to-know,
.programs,
.all-weeks {
  z-index: 2;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: clamp(1.3rem, 2vw, 3rem);
  text-align: center;
  gap: 1.5rem;
}

.needs-page {
  width: 100vw;
  height: 100vh;
  background-image: url("media/regularBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.need-box {
  background-image: url("media/needBox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  width: 70%;
  padding: clamp(1rem, 2vw, 3rem);
  padding: clamp(1.5rem, 2vw, 3rem) clamp(2.5rem, 3vw, 5rem);
  padding-top: clamp(1rem, 2vh, 3rem);
  padding-bottom: clamp(1rem, 2vh, 3rem);
}

.need-popup,
.run-popup,
.swimming-popup,
.stretch-popup, .stability-window{
  z-index: 20;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 1.5rem 2rem 2rem 2rem;
  height: auto;
  background-color: #333333;
  border: 2px solid white;
}

.stability-window {
  z-index: 100;
  pointer-events: auto;
}
.stability-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3); /* dim background */
  z-index: 9998;

  display: flex;
  justify-content: center;
  align-items: center;
}

.programs-end-button {
  width: 45%;
  padding: 0.2rem 0.5rem;
  background-color: #0071bc;
  border: 3px solid white;
  border-radius: 100px;
  color: white;
  font-family: "aduma-regular";
  font-size: 1.5rem;
  box-shadow: 0px 0px 20px 5px #0071bc;
  margin-right: 40%;
}

#need-text {
  text-align: center;
}

.close-btn {
  margin-bottom: clamp(1.5rem, 2vh, 3rem);
  width: clamp(1.5rem, 3vw, 4rem);
}

.page-header,
.programs-page-header,
.weeks-page-header,
.running-header,
.page-header-running-start,
.page-header-power,
.swimming-page-header,
.page-header-stretches,
.score-page-header,
.page-header-power-exercises, .power-exercises-header, .stability-page-header, .ending-page-header {
  padding-top: 3vh;
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.stability-page-header{
  margin-bottom: 2rem;
  padding-right: 0%;
}

.page-header-power {
  margin-bottom: 0px;
}

.power-exercises-notes {
  width: 87%;
}

.swimming-page-header {
  padding-top: 6vh;
  margin-bottom: 7rem;
  padding-right: 0vw;
}

.ending-board{
  border: 4px solid #0071bc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  height: 35%;
  border-radius: 20px;
  background-color: white;
  justify-content: center;
}

.whatsapp-link{
  text-align: center;
}

.whatsapp-icon{
  width: 40%;
  border-radius: 50px;
  animation-name: stretchImgsAnimation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  margin-bottom: 1rem;
}

.page-header-running-start, .ending-page-header {
  padding-right: 0px;
}

.ending-page-title{
  font-family: "aduma-bold";
  text-align: center;
  font-size: clamp(3rem,3.5vh,4rem);
}

.ending-small-message{
  margin-top: 10vh;
  font-size: clamp(2.5rem,3.5vh,3rem);
}

.ending-page-header{
  margin-top: 6vh;
}

.running-header,
.page-header-stretches,
.score-page-header {
  margin-bottom: 8rem;
  padding-right: 0px;
}

.weeks-page-header {
  margin-bottom: 1rem;
  padding-right: 0vw;
}

.stability-video {
  border-radius: 20px;
  border: 5px solid #0071bc;
}

.exercise-number{
  color: #0071bc;
  font-size: clamp(2rem,2.5vh,3rem);
}

.stability-text{
  display: flex;
  align-items: center;
  gap: 2vw;
}

.page-title,
.timer-stretches, .page-title-stability, .stability-page-title {
  font-size: clamp(2rem, 3vh, 4rem);
}

.page-title{
  text-align: center;
}

.stability-page-title{
  padding-top: 1rem;
}

.page-title-stability{
  text-align: center;
}

.small-message, .swimming-small-message{
  font-size: clamp(1.7rem, 1.5vh, 2rem);
}

.swimming-small-message{
  color: #ff0000;
}

.end-button {
  color: white;
  font-size: clamp(1rem,2vh,2rem);
}

.slides-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 60vh;
  width: 100%;
  position: relative;
  margin-top: 2rem;
}

.swiper-wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slide-power {
  background-color: white;
  text-align: center;
  padding: 0.4rem;
  border: 2px solid #0071bc;
  max-width: 300px; /* fix width for proper swipe */
  margin: 0 auto;
  box-shadow: 0px 0px 20px 1px #0071bc;
}

.slide-power {
  background-color: white;
  text-align: center;
  padding: 0.4rem;
  border: 2px solid #0071bc;
}

.slide {
  font-family: "aduma-medium";
  text-align: center;
  width: 65%;
  min-height: 72vh;
  max-height: 78vh;
  background-color: white;
  border: 5px solid #0071bc;
  border-radius: 50px;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  box-sizing: border-box;
  overflow: hidden;
}

.slide-title,
.slide-title-power {
  color: #0071bc;
  font-size: clamp(2rem, 3vh, 2.5rem);
  margin-bottom: 10%;
}

.slide-title-power {
  margin-bottom: 5%;
}

.slider-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: relative; /* anchor the buttons here */
}

.swiper .swiper-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.slide-text {
  font-size: clamp(1.4rem, 2vh, 2rem);
  color: #333333;
  line-height: 1.2rem;
}

.slide-icon {
  width: 10vw;
}

.page-number {
  color: #333333;
  font-size: clamp(1rem, 1vh, 1.5rem);
}

.slide-bottom {
  display: flex;
  justify-content: space-between; /* icon left, page number right */
  width: 90%; /* or whatever fits inside slide */
  align-items: center;
  margin-bottom: 0.5rem;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

button:focus {
  -webkit-tap-highlight-color: transparent; /* iOS & Android */
}

button {
  background: none;
  border: none;
}

.swiper-button-next-custom {
  z-index: 20;
  top: 50%;
  transform: translate(-50%);
  left: 10%;
  background-image: url("media/slideForward.svg");
  background-size: 100% 100%;
}

.swiper-button-prev-custom {
  z-index: 20;
  top: 50%;
  transform: translate(-50%);
  right: 0%;
  background-image: url("media/slidesBack.svg");
  background-size: 100% 100%;
}

.programs-page-header {
  margin-bottom: 4rem;
}

.swiper-button-prev-custom:disabled {
  opacity: 0.3;
}

.swiper-button-next-custom:disabled {
  opacity: 0.3;
}

.slides-page-title {
  padding-top: 5%;
  text-align: center;
  font-size: clamp(3rem, 3vh, 4.5rem);
}

.slides-page-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("media/regularBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.program-sports,
.week-select,
.week-select-power {
  width: 100%;
  height: 20%;
  background-color: #333333;
  border: 2px solid white;
  box-shadow: 0px 0px 10px 1px #0071bc;
}

.exercises-list {
  list-style: none;
  padding-right: 0%;
}

.exercises-list li {
  margin-bottom: 5%;
}

.exercise-name {
  font-family: "aduma-medium";
  font-size: clamp(2rem, 2.5vh, 3rem);
}

.exercise-name,
.exercise-notes {
  text-align: center;
}

.week-select,
.week-select-power {
  width: 80%; /* or a fixed size like 300px */
  max-width: 400px;
  padding: 0.1rem 2rem;
}

.all-weeks {
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.program-text,
.program-text-power-week,
.need-text {
  text-align: center;
  margin: 0.5rem 2rem;
}

.need-text {
  margin: 0px;
  padding: 0.3rem;
}

.home-btn {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 10vw;
}

.running-program-page {
  height: 100vh;
  width: 100vw;
  background-image: url("media/homepageBg.png");
  background-size: 100% 100%;
}

.middle-text {
  padding-bottom: 25%;
}

.running-text {
  text-align: center;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.popup-buttons-running,
.running-buttons,
.program-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.program-buttons {
  justify-content: center;
}

.popup-buttons-running {
  gap: 0.5rem;
  padding-top: 5vh;
}

.running-popup,
.download-btn, .stability-popup, .stability-button{
  color: #0071bc;
  font-family: "aduma-medium";
  font-size: clamp(2rem, 3vh, 4rem);
  width: 35vw;
  height: 10vh;
  background-color: white;
  box-shadow: 0px 0px 20px 1px #0071bc;
}

.stability-button{
  margin-top: 1.5vh;
  width: 43vw;
  height: 13vh;
  z-index: 20;
}

.stability-popup {
  width: 65vw;
  height: 14vh;
}

.download-btn {
  width: 20vw;
  height: 7vh;
  margin-bottom: 15%;
}

.running-popup-text,
.running-popup-title,
.stretching-popup-text {
  text-align: center;
}

.stretching-popup-text {
  margin-bottom: 2rem;
}

.running-popup-title {
  text-decoration: underline;
}

.running-type {
  margin-bottom: 1.5vh;
}

.better-runs-popup {
  width: 80%;
}

.running-all-weeks, .power-all-weeks {
  height: 100vh;
  width: 100vw;
  background-image: url("media/regularBg.png");
  background-size: 100% 100%;
}

.power-all-weeks {
  background-image: url(media/powerExercisesBg.png);
}

.choosing-program-page,
.continious-run-page,
.better-run-page,
.stretching-exercies-page,
.final-score-page,
.power-exercises-start-content, .stability-exercises-content, .lower-back-stability-content {
  height: 100vh;
  width: 100vw;
  background-image: url("media/runningPageBg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.stability-exercises-content, .lower-back-stability-content{
  background-image: url("media/stabilityBg.png");
}

.power-exercises-start-content {
  background-image: url("media/powerExercisesBg.png");
}

.final-score-page {
  background-image: url("media/finalScoreBg.png");
}

.stretching-exercies-page {
  background-image: url("media/strechingBg.png");
}

.continious-run-page,
.page-middle,
.page-middle-stretches,
.power-exercises-start-content, .stability-page-middle , .lower-back-stability-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-middle-stretches {
  gap: 1rem;
}

.timer {
  font-size: clamp(3rem, 3.5vh, 4rem);
}

.score-page-header {
  margin-bottom: 1rem;
}

.page-header-power-exercises {
  text-align: center;
  margin-bottom: 2rem; /* space before the slider */
}

.power-arrow-prev {
  right: 25%;
}

.power-arrow-next {
  left: 30%;
}

.slides-power {
  width: 100%;
  max-width: 800px;
}

.power-exercises-header {
  margin-bottom: 6rem;
}

.power-exercises-header{
  padding-right: 0%;
}

@media (min-width: 375px) and (max-width: 376px) {
  /* iPhone SE width */
  .page-header {
    margin-bottom: 4rem;
  }
  .slide {
    height: 70vh;
    width: 75%;
  }
  .programs-page-header {
    margin-bottom: 5rem;
  }
  .all-weeks {
    gap: 0.3rem;
  }
  .swimming-page-header {
    padding-top: 6vh;
    margin-bottom: 5rem;
  }
  .page-header-stretches {
    margin-bottom: 5rem;
  }
  .score-page-header {
    margin-bottom: 1rem;
  }
  #start-sentance {
    margin-top: 15%;
  }
  .download-btn {
    margin-bottom: 2%;
  }
   .power-exercises-header {
    margin-bottom: 4rem;
  }
  .stability-page-header{
    margin-bottom: 1rem;
  }
}

.runing-program-week,
.running-program-text {
  color: white;
  font-family: "aduma-regular";
  font-size: clamp(2rem, 3vh, 3rem);
}

.running-popup:disabled {
  opacity: 0.3;
}

.text-box {
  padding-bottom: 5vh;
  text-align: center;
}

.darkBtn {
  font-family: "aduma-medium";
  color: white;
  font-size: clamp(2rem, 3vh, 3.5rem);
  padding: 0.5rem 3rem;
  background-color: #333333;
  border: 2px solid white;
  box-shadow: 0px 0px 15px 2px #0071bc;
}

.running-popup:disabled {
  opacity: 0.5;
}

.stretch-img {
  box-shadow: 0px 0px 20px 3px #0071bc;
  animation-name: stretchImgsAnimation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes stretchImgsAnimation {
  0% {
    box-shadow: 0px 0px 0px 0px #0071bc;
  }
  50% {
    box-shadow: 0px 0px 20px 3px #0071bc;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #0071bc;
  }
}

.score-indicators {
  width: 85%;
}

.timer-text {
  font-family: "aduma-medium";
  font-size: clamp(3rem, 3.5vh, 4rem);
  text-align: center;
  color: #0071bc;
}

.timer-icon {
  padding-top: 0.5vh;
  padding-right: 3vw;
}

.running-timer-button {
  display: inline-flex;
  padding: 0em 4em;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px 5px #0071bc;
}

.page-end {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.running-timer-button:disabled {
  background-color: #0071bc;
  box-shadow: 0px 0px 0px 0px;
}

.running-timer-button:disabled .timer-text {
  color: white;
  text-shadow: 1px 1px 5px black;
}

.running-timer-button:disabled .timer-icon {
  content: url("media/icons/timerClicked.svg"); /* swap image */
}
